/Users/samaylakhani/Documents/GitHub/imagine/vector_search/unsplash-dataset/lite/collections.tsv000
/Users/samaylakhani/Documents/GitHub/imagine/vector_search/unsplash-dataset/lite/colors.tsv000
/Users/samaylakhani/Documents/GitHub/imagine/vector_search/unsplash-dataset/lite/conversions.tsv000
/Users/samaylakhani/Documents/GitHub/imagine/vector_search/unsplash-dataset/lite/keywords.tsv000
/Users/samaylakhani/Documents/GitHub/imagine/vector_search/unsplash-dataset/lite/photos.tsv000
