boto3==1.34.38
geocoder>=1.38.1
geopy>=2.4.1
ipython==8.20.0
numpy==1.25.2
openai==1.12.0
openai_clip==1.0.1
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==2.0.3
Pillow>=10.1.0
psutil==5.9.7
setuptools==65.5.0
torch==2.2.0
tk>=0.1.0